.description{
    font-family: 'Kanit', sans-serif;
    font-size: x-large;
}
.project-description{
    font-family: 'Kanit', sans-serif;
    font-size: large;
}
h1, h2, h3, h4{
    font-family: 'Kanit', sans-serif;
}